<!--
  Generated template for the TweetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>tweets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
        <ion-item ion-col col-10>
          <ion-input type="text" [(ngModel)]="q" placeholder="buscar" (keypress)="eventHandler($event.keyCode)" clearInput></ion-input>
        </ion-item>
        <button class="button-padding" padding-vertical ion-col col-2 ion-button full icon-left clear (click)="search()">
            <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner> 
            <ion-icon name="ios-search-outline" *ngIf="!isLoading"></ion-icon>        
        </button>
        <p class="error" *ngIf="message">{{message}}</p>
        <div class="total-tweets"><ion-icon *ngIf="listTweets" name="logo-twitter"><a>{{listTweets.length}}</a></ion-icon></div>
    </ion-row>
    <br>
    <ion-list *ngIf="listTweets">
      <ion-item *ngFor="let tweet of listTweets" (click)="showDetail(tweet)">
        <ion-avatar item-left>
          <img src="{{tweet.user.profile_image_url_https}}">
        </ion-avatar>
        <h3 class="names" text-wrap>{{tweet.user.name}}</h3>
        <h2 class="screen-name" text-wrap>@{{tweet.user.screen_name}}</h2>
        <br>
        <p class="text" text-wrap>{{tweet.text}}</p>
      </ion-item>
  </ion-list>
</ion-content>
